.additions__list {
    list-style-type: none;
    color: $gray;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;

    @media (max-width: $iphone-width) {
        margin-left: -71px;
        margin-right: -52px;
    }

    @media (min-width: $tablet-width) {
        margin-top: 39px;
    }
}

.additions__item {
    @media (max-width: $iphone-width) {
        margin: 10px;
    }
}