.advance-booking {
    background-color: $beige;
    padding: 70px 70px 70px 10px;
}

.advance-booking__wrapper {
    background-color: $white;
    padding: 60px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.advance-booking__title {
    position: relative;
    text-transform: lowercase;
    font-size: 24px;
    margin-top: 0px;
}

.advance-booking__title::after {
    position: absolute;
    content: "";
    width: 150px;
    height: 10px;
    background-color: $red;
    bottom: 45px;
    right: 37px;
}

.advance-booking__button {
    box-sizing: border-box;
    border-color: $red;
    color: $white;
    background-color: $red;
    border-style: none;
    padding: 13px 23px;
    margin-left: -73px;
}

.advance-booking__element {
    border: none;
}

.advance-booking__input {
    border: none;
}

.advance-booking__search-input {
    border-style: none;
    box-shadow: 0 0 30px $beige;
    height: 51px;
    width: 273px;
}

.advance-booking__search-input::placeholder {
    color: $blue;
    padding-left: 30px;
}

.advance-booking__element-wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.advance-booking__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $blue;
}

.advance-booking__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    opacity: 0.6;
    color: $blue;
}