.contacts__list {
    list-style-type: none;
    display: flex;
    @media (max-width: $iphone-width) {
        margin-right: 20px;
    }
}

.contacts__item {
    width: min-content;
    margin-left: 10px;

    @media (max-width: $iphone-width) {
        margin-right: 5px;
    }
}

.contacts__link {
    text-decoration: none;
    color: $gray;
    font-weight: 700;
    font-size: 20px;
}