.download-app {
    padding-top: 28px;
    padding-bottom: 65px;
    background-color: $beige;

    @media (min-width: $tablet-width) {
        padding-top: 91px;
        padding-bottom: 18px;
    }
}

.download-app__wrapper {
    margin: 0 20px 0 20px;
    position: relative;

    @media (min-width: $tablet-width) {
        display: grid;
        grid-template-areas:
            ". image"
            "title image"
            "text image"
            "buttons image"
            ". image";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        margin-left: 50px;
    }

    @media (min-width: $desktop-width) {
        margin-left: 155px;
        grid-template-columns: 0.6fr 1fr;
        grid-template-rows: 1.3fr 1fr 1fr 1fr;
        grid-column-gap: 359px;
    }

}

.download-app__wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 525px;
    background-image: radial-gradient($light-gray 5%, $beige 5%);
    background-size: 80px 80px;
    top: 280px;
    z-index: 1;

    @media (max-width: $iphone-width) {
        display: none;
    }

    @media (min-width: $tablet-width) {
        width: 40%;
        right: 203px;
        background-size: 94px 99px;
        top: 168px;
    }
}

.download-app__title {
    position: relative;
    font-size: $font-size-title;
    line-height: $line-height-title;
    font-weight: 500;
    text-transform: capitalize;
    margin: 29px 35px 21px 33px;

    @media (min-width: $tablet-width) {
        font-size: 48px;
        grid-area: title;
        z-index: 3;
        margin-left: 41px;
        line-height: 58px;
        margin-top: 25px;

    }

    @media (min-width: $desktop-width) {
        line-height: 62px;
    }
}

.download-app__title::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 100px;
    background-color: $red;
    left: -33px;
    top: -3px;

    @media (min-width: $tablet-width) {
        width: 25px;
        height: 139px;
        left: -59px;
        top: -12px;
    }
}

.download-app__text {
    text-transform: capitalize;
    color: $gray;
    margin-left: 30px;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
        grid-area: text;
        margin: 0px;
        z-index: 3;
        margin: -11px 37px;
    }


    @media (min-width: $desktop-width) {
        margin: -39px 46px;
    }
}

.download-app__buttons {
    display: flex;
    justify-content: center;

    @media (min-width: $tablet-width) {
        grid-area: buttons;
        z-index: 3;
        justify-content: flex-start;
        margin-top: -89px;
    }

    @media (min-width: $desktop-width) {
        margin-top: -155px;
    }
}

.download-app__wrapper-btn {
    background-color: $black;
    width: 178px;
    height: 49px;
    border: 1px solid $black;
    box-sizing: border-box;
    border-radius: 10px;
    text-decoration: none;
    color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 70px;
    background-repeat: no-repeat;
    background-position: 20px 5px;
    margin-left: 31px;

    @media (max-width: $iphone-width) {
        background-position: 50%;
        margin-bottom: 30px;
    }
}

.download-app__wrapper-btn:focus,
.download-app__wrapper-btn:hover {
    background-color: rgba(0, 0, 0, 0.695);
}

.download-app__wrapper-btn--apply {
    background-image: url(../img/apple.svg);
}

.download-app__wrapper-btn--google {
    background-image: url(../img/google.svg);
}

.download-app__button-text {
    font-size: 11px;
    margin: 0;

    @media (max-width: $iphone-width) {
        display: none;
    }
}

.download-app__button-store {
    text-transform: capitalize;
    margin: -5px 0;

    @media (max-width: $iphone-width) {
        display: none;
    }
}

.download-app__image {
    margin: auto;
    width: 317px;
    position: relative;
    z-index: 3;
    margin-top: 27px;

    @media (min-width: $tablet-width) {
        grid-area: image;
        margin: 0px;

    }

    @media (max-width: $iphone-width) {
        display: none;
    }

}

.download-app__image::after {
    position: absolute;
    background-image: url(../img/letucce4.png);
    content: "";
    width: 356px;
    height: 434px;
    left: -120px;
    bottom: 63px;
    z-index: -1;

    @media (min-width: $tablet-width) {
        background-image: url(../img/letucce4-tablet.png);
        height: 500px;
        left: -169px;
        bottom: 228px;
    }

    @media (min-width: $desktop-width) {
        background-image: url(../img/lettuce4-desktop.png);
        width: 835px;
        height: 842px;
        left: -330px;
        bottom: 115px;
    }

}