.main-nav__item {
    list-style-type: none;
    
}

.main-nav__link {
    text-decoration: none;
}

.main-nav__wrapper {
    display: none;
}

.main-nav__toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-nav_bar {
    width: 20.54px;
    height: 3.12px;
    background-color: $white;
    margin: 4px 0;
}

.main-nav_bar--3 {
    width: 13.49px;
}