.search-restaurant__input {
    height: 320px;
    height: 90px;
    margin: 10px 70px 10px 22px;
    box-sizing: border-box;
    border: none;
    
}

.search-restaurant__input::placeholder {
    font-size: 18px;
    line-height: 90px;
}

.search-restaurant__button {
    background-color: $red;
    font-size: 30px;
    line-height: 90px;
    font-weight: 600;
    color: $white;
    box-sizing: border-box;
    border: 2px solid $red;
}

.search-restaurant__location {
    background-color: $red;
    font-size: 30px;
    line-height: 90px;
    font-weight: 600;
    color: $white;
    box-sizing: border-box;
    border: 2px solid $red;
    width: 280px;
}