.search-restaurant__input {
    height: 90px;
    margin: 10px -160px 10px 22px;
    box-sizing: border-box;
    border: none;
    width: 250px;

    @media (min-width: $iphone-width) {
        width: 462px;

    }
}

.search-restaurant__input::placeholder {
    padding-left: 20px;
    font-size: 18px;
    line-height: 90px;
}

.search-restaurant__search-line {
    display: flex;
    align-items: center;
}

.search-restaurant__button {
    background-color: $red;
    font-size: 30px;
    line-height: 76px;
    font-weight: 600;
    color: $white;
    box-sizing: border-box;
    border: 2px solid $red;
    width: 146px;
    height: 72px;
    border-radius: 60px 0 0 0;
}

.search-restaurant__location {
    background-color: $red;
    font-size: 30px;
    line-height: 65px;
    font-weight: 500;
    color: $white;
    box-sizing: border-box;
    border: 2px solid $red;
    width: 280px;
    height: 65px;
    border-radius: 0 100px 100px 0;
    padding-left: 86px;
}

.search-restaurant__delishes {
    margin-left: 46px;
}

.search-restaurant__lettuce {
    margin-left: 246px;
    margin-bottom: -378px;
}

.search-restaurant__picture {
    position: relative;
    z-index: 2;
}

.search-restaurant__gradient {
    position: absolute;
    z-index: 1;
    top: 608px;
    right: 212px;
    width: 312px;
    height: 470px;
    background-image: radial-gradient($light-gray 20%, $light-beige 20%);
    background-position: 0 0;
    background-size: 30px 30px;

}