.search-restaurant__input {
    height: 90px;
    margin: -10px -158px 7px 22px;
    box-sizing: border-box;
    border: none;
    width: 250px;

    @media (min-width: $iphone-width) {
        width: 462px;

    }
}

.search-restaurant__input::placeholder {
    padding-left: 27px;
    font-size: 18px;
    line-height: 90px;
}

.search-restaurant__search-line {
    display: flex;
    align-items: center;
}

.search-restaurant__button {
    background-color: $red;
    font-size: 30px;
    line-height: 76px;
    font-weight: 600;
    color: $white;
    box-sizing: border-box;
    border: 1px solid $red;
    width: 146px;
    height: 73px;
    border-radius: 60px 0 0 0;
    margin-bottom: 15px;
}

.search-restaurant__location {
    background-color: $red;
    font-size: 30px;
    line-height: 65px;
    font-weight: 500;
    color: $white;
    box-sizing: border-box;
    border: 2px solid $red;
    width: 280px;
    height: 65px;
    border-radius: 0 100px 100px 0;
    padding-left: 30px;
    margin-top: 39px;
}

.search-restaurant__vector {
    padding-right: 24px;
}

.search-restaurant__delishes {
    margin-left: 9px;
    margin-top: -376px;
}

.search-restaurant__lettuce {
    margin-left: 223px;
    margin-top: -103px;
}

.search-restaurant__picture {
    position: relative;
    z-index: 2;
}

.search-restaurant__images {
    width: 65%;
    background-image: radial-gradient($light-gray 20%, $light-beige 20%);
    background-position: 0 8px;
    background-size: 29px 28px;
    margin-left: 29px;
}

.search-restaurant__control {
    height: 6px;
    position: relative;
    margin-bottom: 65px;
}

.search-restaurant__btn-control {
    background: none;
    border: none;
    padding: 0;
    outline: none;
}

.search-restaurant__btn-control::before {
    width: 44px;
    height: 30px;
    position: absolute;
    content: "";
    background-image: url(../../img/carousel.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top: -67px;
    right: 83px;
}

.search-restaurant__btn-control--next::before {
    top: -68px;
    right: 22px;
    transform: rotate(180deg);
}
