.services__title {
    font-size: $font-size-title;
    line-height: 62px;
    font-weight: 500;
    position: relative;
    margin: 82px 0 5px 52px;

    @media (min-width: $tablet-width) {
        font-size: 48px;
        margin: 10px 0 5px 87px;
    }

    @media (min-width: $desktop-width) {
        margin-left: 191px;
    }
}

.services__title::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 100px;
    background-color: $red;
    left: -31px;
    top: -20px;

    @media (min-width: $tablet-width) {
        width: 24px;
        height: 142px;
        left: -55px;
        top: -37px;
    }
}

.services__text {
    text-transform: capitalize;
    color: $gray;
    margin: 0 12px 10px 53px;

    @media (min-width: $tablet-width) {
        margin: 0 74px 10px 28px;
    }

    @media (min-width: $desktop-width) {
        margin: 0 606px 10px 28px;
    }
}


.services__list {
    padding-left: 43px;
    display: flex;
    flex-direction: column;
    margin: -7px 20px 78px -23px;
    align-items: center;

    @media (max-width: $iphone-width) {
        display: block;
    }

    @media (min-width: $tablet-width) {
        flex-wrap: wrap;
        height: 619px;
        margin: 10px 52px 0px 0px;
        align-items: flex-start;
        padding-left: 34px;
    }

    @media (min-width: $desktop-width) {
        padding-left: 134px;
        height: 960px;
    }
}

.services__item {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 12px;
}

.services__item--second {
    flex-direction: row-reverse;

    @media (min-width: $tablet-width) {
        margin-top: -15px;
    }

}

.services__item--big {
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $tablet-width) {
        margin-top: 23px;
        margin-left: 73px;
    }

    @media (min-width: $desktop-width) {
        margin-left: 25px;
        flex-direction: column;
    }
}

.services__name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 0px;
}

.services__name--first {
    @media (min-width: $tablet-width) {
        margin-left: 85px;
    }

    @media (min-width: $desktop-width) {
        margin-left: 161px;
    }
}

.services__name--second {
    text-align: right;
    padding-right: 50px;

    @media (min-width: $tablet-width) {
        padding-right: 174px;
    }

    @media (min-width: $desktop-width) {
        padding-right: 330px;
    }
}

.services__name::after {
    content: "";
    width: 84px;
    height: 3px;
    background-color: $red;
    position: absolute;
    bottom: 12px;
    right: 5px;

    @media (max-width: $iphone-width) {
        display: none;
    }

    @media (min-width: $desktop-width) {
        bottom: 16px;
    }

}

.services__name--second::after {
    right: 125px;

    @media (min-width: $tablet-width) {
        right: 253px;
    }

    @media (min-width: $desktop-width) {
        right: 406px;
        bottom: 13px;
        height: 2px;
    }
}

.services__name--big::after {
    bottom: -79px;
    left: 27px;
    width: 191px;
}

.services__name::before {
    content: "";
    width: 73px;
    height: 16px;
    background-image: url(../../img/arrow.svg);
    position: absolute;
    bottom: 6px;
    right: 202px;

    @media (max-width: $iphone-width) {
        display: none;
    }

    @media (min-width: $tablet-width) {
        bottom: 8px;
        right: 249px;
    }

    @media (min-width: $desktop-width) {
        width: 182px;
        background-image: url(../../img/arrow-desktop.svg);
        right: 205px;
        transform: rotate(180deg);
        background-position: 181px;
    }
}

.services__name--second::before {
    right: -64px;
    transform: rotate(180deg);

    @media (min-width: $tablet-width) {
        right: -23px;
        bottom: 1px;

    }

    @media (min-width: $desktop-width) {
        bottom: 6px;
        width: 260px;
        transform: none;
        background-position: 259px;
    }
}

.services__name--big::before {
    display: none;
}


.services__wrapper-img {
    background-color: $beige;
    width: 271px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $desktop-width) {
        width: 390px;
        height: 380px;
    }
}

.services__wrapper-img--big {
    width: 89%;
    height: 548px;
    margin-bottom: -253px;

    @media (min-width: $tablet-width) {
        height: 546px;
        width: 100%;
    }

    @media (min-width: $desktop-width) {
        height: 595px;
        width: 670px;
        padding-top: 156px;
        align-items: flex-start;
        margin-bottom: -266px;
    }
}

.services__discription {
    text-transform: capitalize;
    color: $gray;
    margin-bottom: 24px;
}

.services__name-wrapper {
    display: flex;
    flex-direction: column;

    @media (max-width: $iphone-width) {
        margin-left: 2px;
    }
}

.services__name--big {
    margin-top: 4px;
    margin-left: -10px;
}

.services__discription--big {
    margin: 12px 0 25px 12px;
}

@media (min-width: $tablet-width) {
    .services__tittle-wrapper {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        margin-top: 132px;
        margin-bottom: 166px;
    }

    .services__discription--first {
        margin-left: 88px;
    }
}


@media (min-width: $desktop-width) {
    .services__tittle-wrapper {
        margin-top: 176px;
        grid-template-columns: 1fr 2fr;
        grid-gap: 44px;
        margin-bottom: 286px;
    }

    .services__img {
        width: 200px;
        height: 200px;
    }

    .services__discription--first {
        margin-left: 161px;
    }
}

.services__img--big {
    margin-bottom: 186px;

    @media (min-width: $desktop-width) {
        width: 322px;
        height: 250px;
        margin-bottom: 0px;
    }
}