.services__title {
    font-size: $font-size-title;
    line-height: 62px;
    font-weight: 500;
}

.services__text {
    text-transform: capitalize;
    color: $gray;
}

.services__item {
    list-style-type: none;
}

.services__name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    text-transform: capitalize;
}

.services__name-link {
    text-decoration: none;
}

.services__wrapper-img {
    background-color: $beige;
    width: 271px;
    height: 275px;
}

.services__wrapper-img--big {
    width: 360px;
    height: 550px;
}