.services__title {
    font-size: $font-size-title;
    line-height: 62px;
    font-weight: 500;
    position: relative;
    margin: 82px 0 5px 52px;

    @media (min-width: $tablet-width) {
        font-size: 48px;
        margin: 10px 0 5px 52px;
    }
}

.services__title::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 100px;
    background-color: $red;
    left: -31px;
    top: -20px
}

.services__text {
    text-transform: capitalize;
    color: $gray;
    margin: 0 12px 10px 53px;
}


.services__list {
    padding-left: 43px;
    display: flex;
    flex-direction: column;
    margin: -7px 20px 78px -23px;
    align-items: center;

    @media (max-width: $iphone-width) {
        display: block;
    }

    @media (min-width: $tablet-width) {
        flex-wrap: wrap;
        height: 650px;
        margin: 10px 52px 78px 57px;
    }
}

.services__item {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 12px;
}

.services__item--second {
    flex-direction: row-reverse;

}

.services__item--big {
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $tablet-width) {
        margin-top: 23px;
    }
}

.services__name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 0px;
}

.services__name--second {
    text-align: right;
    padding-right: 50px;
}

.services__name::after {
    content: "";
    width: 84px;
    height: 3px;
    background-color: $red;
    position: absolute;
    bottom: 12px;
    right: 5px;

    @media (max-width: $iphone-width) {
        display: none;
    }
}

.services__name--second::after {
    right: 125px;
}

.services__name--big::after {
    bottom: -79px;
    left: 27px;
    width: 191px;
}

.services__name::before {
    content: "";
    width: 73px;
    height: 16px;
    background-image: url(../../img/arrow.svg);
    position: absolute;
    bottom: 6px;
    right: 202px;

    @media (max-width: $iphone-width) {
        display: none;
    }
}

.services__name--second::before {
    right: -64px;
    transform: rotate(180deg);

}

.services__name--big::before {
    display: none;
}


.services__wrapper-img {
    background-color: $beige;
    width: 271px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.services__wrapper-img--big {
    width: 89%;
    height: 548px;
    margin-bottom: -253px;

    @media (min-width: $tablet-width) {
        height: 589px;
    }
}

.services__discription {
    text-transform: capitalize;
    color: $gray;
    margin-bottom: 24px;
}

.services__img--big {
    margin-bottom: 186px;
}

.services__name-wrapper {
    display: flex;
    flex-direction: column;

    @media (max-width: $iphone-width) {
        margin-left: 2px;
    }
}

.services__name--big {
    margin-top: 4px;
    margin-left: -10px;
}

.services__discription--big {
    margin: 12px 0 25px 12px;
}

@media (min-width: $tablet-width) {
    .services__tittle-wrapper {
        display: grid;
        grid-template-columns: 1fr 1.3fr;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}