.slider {
    padding-top: 45px;
}

.slider__bg-images {
    font-size: 100px;
    font-weight: 900;
    opacity: 0.05;
    padding-bottom: 20px;
    margin-left: 17px;
}

.slider__title {
font-size: $font-size-title;
line-height: 48px;
font-weight: 700;
margin-left: 22px;
}