.slider {
    width: 100%;
    padding-top: 79px;
    background: linear-gradient(to right,
    $light-beige 75%, $red 25%);
}

.slider__bg-images {
    font-size: 100px;
    font-weight: 900;
    opacity: 0.05;
    margin-left: 17px;
}

.slider__title {
font-size: $font-size-title;
line-height: 48px;
font-weight: 700;
margin-left: 18px;
width: 70%;
}