.top-restaurant__title {
    font-size: $font-size-title;
    line-height: $line-height-title;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 83px;
    position: relative;
}

.top-restaurant__title::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 100px;
    background-color: $red;
    left: -39px;
}

.top-restaurant__text {
    text-transform: capitalize;
    margin-left: 83px;
    margin-bottom: 56px;
}

.top-restaurant__list {
    position: relative;
    padding-left: 43px;
    z-index: 1;
}

.top-restaurant__list::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 50px;
    background-image: radial-gradient($light-gray 25%, $light-beige 10%);
    background-position: 0 0;
    background-size: 30px 30px;
    top: -29px;
    left: 16px;
    z-index: -1;
}

.top-restaurant__list::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: radial-gradient($light-gray 25%, $light-beige 10%);
    background-position: 0 0;
    background-size: 30px 30px;
    top: 770px;
    left: 254px;
    z-index: -1;
}

.top-restaurant__item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.top-restaurant__img-wrapper {
    margin-bottom: -204px;
}

.top-restaurant__popup {
    display: flex;
    height: 195px;
    background-color: rgba(254,4,60, 0.8);
    width: 493px;
    border: 1px solid rgba(254,4,60, 0.8);
    box-shadow: 0px 4px 4px rgba(254,4,60, 0.8);
    border-radius: 0px 0px 20px 20px;
}

.top-restaurant__popup:focus {
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-restaurant__popup-title {
    color: $white;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
}

.top-restaurant__link {
    text-decoration: none;
}

.top-restaurant__popup-text {
    text-transform: capitalize;
    color: $white;
}

.top-restaurant__description {
    color: $white;
    text-transform: capitalize;
    margin-left: 45px;
}

.top-restaurant__button {
    background-color: $white;
    color: $red;
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid $white;
    border-radius: 30px 0 0 30px;
    padding: 11px 8px 0px 51px;
    margin: 104px -3px 41px 18px;
    width: 50%;

}

.top-restaurant__popup-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.top-restaurant__see-more {
    position: relative;
    background-color: $red;
    border-style: none;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 45%;
}

.top-restaurant__see-more::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    background-color: $red;
    top: 20px;
    right:39px;
}

.top-restaurant__see-more::before {
    position: absolute;
    content: "";
    width: 72px;
    height: 34px;
    background: no-repeat url(../../img/chevron.svg);
    top: 14px;
    right: -49px;
}

.top-restaurant__see-more-text {
    text-transform: capitalize;
    color: $red;
    margin-left: 45%;
}


