.top-restaurant__title {
    font-size: $font-size-title;
    line-height: $line-height-title;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 52px;
    margin-bottom: -3px;
    position: relative;

    @media (min-width: $tablet-width) {
        font-size: 48px;
        margin-left: 89px;
        line-height: 57px;
    }

    @media (min-width: $desktop-width) {
        margin: 24px 207px 0px 189px;
        line-height: 62px;
    }
}

.top-restaurant__title::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 100px;
    background-color: $red;
    left: -32px;
    top: -5px;

    @media (min-width: $tablet-width) {
        width: 23px;
        height: 138px;
        left: -56px;
        top: -13px;
    }

    @media (min-width: $desktop-width) {
        left: -52px;
        top: -5px;
    }
}

.top-restaurant__text {
    text-transform: capitalize;
    margin: 14px 33px 46px 52px;

    @media (min-width: $tablet-width) {
        margin: 52px 33px 19px 71px;
    }

    @media (min-width: $desktop-width) {
        margin: 43px 330px 19px -190px;
    }
}

.top-restaurant__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: 52px;

    @media (max-width: $iphone-width) {
        overflow: hidden;
        padding-left: 0px;
        display: block;
    }

    @media (min-width: $tablet-width) {
        flex-direction: row;
        padding-left: 0px;
        margin-top: 50px;
    }

    @media (min-width: $desktop-width) {
        margin-top: 113px;
    }
}

.top-restaurant__list::after {
    content: "";
    position: absolute;
    width: 335px;
    height: 50px;
    background-image: radial-gradient($light-gray 25%, $light-beige 10%);
    background-size: 38px 41px;
    top: -30px;
    left: -2px;
    z-index: -1;

    @media (min-width: $tablet-width) {
        top: -84px;
        height: 70px;
    }
}

.top-restaurant__list::before {
    content: "";
    position: absolute;
    width: 330px;
    height: 425px;
    background-image: radial-gradient($light-gray 21%, $light-beige 10%);
    background-size: 38px 39px;
    top: 621px;
    left: 217px;
    z-index: -1;

    @media (min-width: $tablet-width) {
        top: 163px;
        left: 745px;
    }

    @media (min-width: $desktop-width) {
        top: 251px;
        left: 1020px;
    }
}

.top-restaurant__item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
        margin-right: 15px;
    }

    @media (min-width: $desktop-width) {
        margin-right: 43px;
    }
}

.top-restaurant__img-wrapper {
    margin-bottom: -204px;

    @media (min-width: $desktop-width) {
        margin-bottom: -258px;
    }

}

.top-restaurant__popup {
    display: flex;
    height: 195px;
    background-color: rgba(254, 4, 60, 0.8);
    width: 493px;
    border: 1px solid rgba(254, 4, 60, 0.8);
    box-shadow: 0px 4px 4px rgba(254, 4, 60, 0.8);
    border-radius: 0px 0px 20px 20px;

    @media (max-width: $iphone-width) {
        flex-direction: column;
        border-radius: 0px;
    }

    @media (min-width: $desktop-width) {
        width: 636px;
        height: 246px;
    }

}

.top-restaurant__popup:focus {
    border: 1px solid $black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-restaurant__popup-title {
    color: $white;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;

    @media (max-width: $iphone-width) {
        margin-top: 10px;
    }

    @media (min-width: $desktop-width) {
        margin-top: 40px;
    }
}

.top-restaurant__popup-title:focus,
.top-restaurant__popup-title:hover {
    opacity: 0.6;
}

.top-restaurant__link {
    text-decoration: none;
}

.top-restaurant__popup-text {
    text-transform: capitalize;
    color: $white;
    margin-top: 21px;
    margin-bottom: 4px;

    @media (max-width: $iphone-width) {
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 0px;
    }

    @media (min-width: $desktop-width) {
        margin-top: 15px;
    }
}

.top-restaurant__description {
    color: $white;
    text-transform: capitalize;
    margin-left: 40px;

    @media (max-width: $iphone-width) {
        margin-left: 0px;
        margin-top: 7px;
    }

    @media (min-width: $desktop-width) {
        margin-left: 32px;
        position: relative;
    }
}

.top-restaurant__button {
    font-size: 16px;
    background-color: $white;
    color: $red;
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid $white;
    border-radius: 30px 0 0 30px;
    padding: 9px 23px 0px 37px;
    margin: 131px -3px 19px 18px;
    width: 48%;

    @media (max-width: $iphone-width) {
        margin: 9px 167px 19px 18px;
        font-size: 14px;
        line-height: 15px;
        border-radius: 30px;
    }

    @media (min-width: $desktop-width) {
        margin: 154px -3px 30px -66px;
        padding: 18px 7px 9px 0px;
        text-align: center;
    }

}

.top-restaurant__button:focus,
.top-restaurant__button:hover {
    opacity: 0.6;
}

.top-restaurant__popup-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    @media (max-width: $iphone-width) {
        width: 59%;
    }

    @media (min-width: $desktop-width) {
        margin-left: 59px;
    }
}

.top-restaurant__see-more {
    position: relative;
    background-color: $red;
    border-style: none;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 49%;
    cursor: pointer;

    @media (min-width: $tablet-width) {
        margin-top: 259px;

    }

    @media (min-width: $desktop-width) {
        margin-top: 395px;
        margin-left: -61px;
    }
}

.top-restaurant__see-more:focus,
.top-restaurant__see-more:hover {
    opacity: 0.6;
}

.top-restaurant__see-more::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background-color: $red;
    top: 20px;
    right: 39px;
}

.top-restaurant__see-more::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 34px;
    background: no-repeat url(../../img/chevron.svg);
    top: 14px;
    right: 0px;
}

.top-restaurant__see-more-text {
    text-transform: capitalize;
    color: $red;
    margin: 16px 0 27px 48%;
    cursor: pointer;

    @media (min-width: $tablet-width) {
        grid-column-start: 2;
        margin-top: -310px;
        margin-left: 45%;
    }

    @media (min-width: $desktop-width) {
        margin-top: -378px;
        margin-left: -74px;
    }
}

.top-restaurant__see-more-text:focus,
.top-restaurant__see-more-text:hover {
    opacity: 0.6;
}

@media (min-width: $tablet-width) {
    .top-restaurant__title-wrapper {
        display: grid;
        grid-template-columns: 2fr 1.3fr;
        margin-top: 16px;
    }

    .top-restaurant__list-wrapper {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }

    .top-restaurant {
        margin-bottom: 47px;
    }

}

@media (min-width: $desktop-width) {
    .top-restaurant__description::after {
        position: absolute;
        content: "";
        background-image: url(../../img/vector.svg);
        background-repeat: no-repeat;
        width: 25px;
        height: 30px;
        top: -3px;
        right: 416px;
    }

    .top-restaurant {
        margin-bottom: 130px;
    }

}