$mobile-width: 320px;
$iphone-width: 553px;
$tablet-width: 1194px;
$desktop-width: 1654px;

$black: #000000;
$blue: #2E266F;
$gray: #707070;
$light-gray: #E6E6E6;
$green: #31A24C;
$light-green: #35CD8C;
$red: #FE043C;
$white: #ffffff;
$light-beige: #FFF5EC;
$beige: #FFEDDE;

$bg-color-body: $light-beige;
$bg-color-blocks: $beige;
$color-decoration: $red;
$font-color-base: $blue;
$font-color: $gray;

$font-family-base: "Poppins", "Arial", sans-serif;
$font-size-base: 14px;
$font-size-title: 36px;
$line-height-base: 24px;
$line-height-title: 48px;